.c-btn{
  position: relative;
  border-radius: 4px;
  @include rem(font-size, 18px);
  display: inline-block;
  line-height: 1;
	font-weight: 700;
  letter-spacing: 0.62px;
  border-width: 2px;
  border-style: solid;
  text-align: center;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;

  &:hover{
    color: inherit;
  }
}


.c-btn--default{
  background-color: palette('green');
  border-color: palette('green');
  color: palette('white');

  &:after{
    content: url('/assets/default/img/ui/ui-button-after--white.svg');
    position: absolute;
    top: 50%;
    margin-top: -6px;
    right: ($space * 2);
  }
}

.c-btn--secondary{
  border-color: #666666;
  color: #666666;

  &:after{
    content: url('/assets/default/img/ui/ui-button-after--text.svg');
    position: absolute;
    top: 50%;
    margin-top: -6px;
    right: ($space * 2);
  }
}

.c-btn--secondary.c-btn--green{
  border-color: palette('green');
  color: palette('white');

  &:after{
    content: url('/assets/default/img/ui/ui-button-after--white.svg');
  }
}

.c-btn--md,
.c-btn--lg{ line-height: 1.15; }

.c-btn--sm{ padding: $space ($space * 5) $space ($space * 2); }

.c-btn--md{ padding: ($space * 1.5) ($space * 5) ($space * 1.5) ($space * 2); }

.c-btn--lg{ padding: ($space * 2.25) ($space * 5) ($space * 2.25) ($space * 2); }