.c-card{
	margin-bottom: ($space * 3);
	display: block;
	position: relative;
	padding-top: $space;
	padding-right: $space;
	padding-bottom: ($space * 10);
	padding-left: $space;
	transition: background-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;

	&:hover{
		background-color: #E2E2E2;
		box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.30);
	}
}

.c-card__button{
	position: absolute;
	bottom: ($space * 2);
	width: 100%;
}