$responsive: true !default;
$responsive-mobileFirst: false !default;


$grid-gutter: 32px !default;

/**
 * Would you like push and pull classes enabled?
 */
$grid-push-classes: true !default;
$grid-pull-classes: false !default;


/**
 * Define your breakpoints. The first value is the prefix that shall be used for
 * your classes (e.g. `.palm--one-half`), the second value is the media query
 * that the breakpoint fires at.
 */
$breakpoints: (
    'xs' '(min-width: 400px)',
    's' '(min-width: 550px)',
    'm' '(min-width: 750px)',
    'l' '(min-width: 1000px)',
    'xl' '(min-width: 1200px)'
) !default;


/**
 * Define which namespaced breakpoints you would like to generate for each of
 * widths, push and pull. This is handy if you only need pull on, say, desk, or
 * you only need a new width breakpoint at mobile sizes. It allows you to only
 * compile as much CSS as you need. All are turned on by default, but you can
 * add and remove breakpoints at will.
 *
 * Push and pull shall only be used if `$push` and/or `$pull` and `$responsive`
 * have been set to ‘true’.
 */

$breakpoint-modifiers: ('xs','s', 'm', 'l', 'xl') !default;
