

$palettes: (

	'brand':(
		1: #49213b,
		2: #da2d6a
	),

	'green':(
		1: #81C053
	),

	'white':(
		1: #ffffff,
		2: #F0F0F0
	),

	'grey':(
		1: #C7C7C7,
		2: #414141,
		3: #2B2C2C
	),

	'black':(
		1: #000000
	),

	'text':(
		1: #666666,
	),

	'divider':(
		1: #D8D8D8
	)

);

$social-colors: (
	instagram: #3f729b,
	linkedin: #0077b5,
	twitter: #55acee
);
