

$palettes: (

	// 'highlight':(
	// 	1: ,
	// 	2:
	// ),

	'white':(
		1: #ffffff,
		2: #f5f5f5
	),

	'black':(
		1: #0e0e0e
	),

	'text':(
		1: rgba(0,0,0,0.87),
		2: rgba(0,0,0,0.54),
		3: rgba(0,0,0,0.38)
	),

	'divider':(
		1: rgba(0,0,0,0.12)
	)

);

$social-colors: (
	github: #4183c4,
	instagram: #3f729b,
	linkedin: #0077b5,
	rdio: #007dc3,
	twitter: #55acee
);
