@each $heading in $headings {
    $name: nth($heading, 1);
    $font-size: nth($heading, 2);
    $line-height: nth($heading, 3);

	#{$name}{
		// @if $heading-font-family {
		// 	font-family: $heading-font-family
		// }
		@include rem(font-size, $font-size);
		line-height: $line-height / $font-size;
	}
}
